.minus{
    border: 1px solid #000;
    border-radius: 30px;
    margin-left: 25px;
    width: 36px;
    height: 36px;
    background: #2a65a1;
}
.added_flight{
    display: flex;
    background-color: #ecf0f1;
    border: 1px solid;
    border-color: #000000;
    border-radius: 30px;
    min-height: 40px;
    width: 630px;
    margin-top: 10px;
    align-items: center;
}
.table_element{
    display: flex;
    width: 630px;
    align-items: center;
}

.table_element_item_1{
    text-align: center;
    word-wrap:break-word;
    display: block;
    margin-left: 15px;
    width: 40px;
    justify-items: right;
}
.table_element_item_2{
    text-align: center;
    word-wrap:break-word;
    display: block;
    width: 180px;
    justify-items: center;
}
.table_element_item_3{
    text-align: center;
    word-wrap:break-word;
    display: block;
    width: 155px;
    justify-items: center;
}
.table_element_item_4{
    text-align: center;
    word-wrap:break-word;
    display: block;
    width: 170px;
    justify-items: center;
}