input[type="text"]
  {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  input[type="number"]
  {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  .title{
    -webkit-text-stroke: 1px #000000;
    color: #ecf0f1;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;
    margin-top: 83px;
  }

  .App-link {
    color: #61dafb;
    text-decoration: none;
  }
  .add_stage{
    width: 1280px;
    height: 100px;
    background-color: #ECF0F1;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
  }
  .add_stage_element{
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    align-self: center;
    display: flex;
    align-items: center;
  }
  .course{
    background-color: #ecf0f1;
    border: 1px solid;
    border-color: #373737;
    border-radius: 13px;
    box-shadow: var(--enter-field);
    height: 50px;
    width: 280px;
  }
  .speed{
    background-color: #ecf0f1;
    border: 1px solid;
    border-color: #373737;
    border-radius: 13px;
    box-shadow: var(--enter-field);
    height: 50px;
    width: 180px;
  }
  .altitude{
    background-color: #ecf0f1;
    border: 1px solid;
    border-color: #373737;
    border-radius: 13px;
    box-shadow: var(--enter-field);
    height: 50px;
    width: 180px;
  }
  .speed_label{
    width: 156px;
  }
  .altitude_label{
    width: 98px;
  }
  header p{
    margin-right: 25px;
  }
  .plus{
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #2a65a1;
    border-radius: 13px;
    border: 1px solid;
  }

  .plus img {
    vertical-align: auto;
    float: none;
  }
  
  .add_stage_element_1{
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    align-self: center;
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
  .add_stage_element_4{
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    align-self: center;
    display: flex;
    align-items: center;
    margin-right: 25px;
  }
  .map{
    border-radius: 25px;
    border: 1px solid;
    border-color: #373737;
  }
  .main_info{
    margin-top: 20px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
  }
  h2{
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 7px;
  }
  .table_head{
    background-color: #d4d4d4;
    border-radius: 25px;
    width: 630px;
    border: 1px solid;
    border-color: #373737;
    height: 114px;
    
  }
  .table_head_info{
    display: flex;
    width: 630px;
    background-color: #ecf0f1;
    border-radius: 25px;
    height: 63px;
    align-items: center;
  }

  .table-element-new{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: normal;
  }
  .table_element{
    display: flex;
    width: 630px;
    align-items: center;
  }
  .table_element_info_1{
    justify-items: center;
    margin-left: 29px;
    margin-right: 15px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: normal;
  }
  .table_element_info_2{
    justify-items: center;
    margin-left: 40px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: normal;
  }
  .table_element_info_3{
    justify-self: right;
    margin-left: 60px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: normal;
    width: 155px;
    word-wrap:break-word;
  }
  .table_element_info_4{
    justify-items: center;
    margin-left: 60px;
    margin-right: 25px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: normal;
  }
  .scroll{
    overflow-y: scroll;
    height: 480px;
  }
  .scroll::-webkit-scrollbar {
    width: 4px;
    height: 0;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
  }