main {
  float: right;
  margin-left: auto;
  border: 1px solid #000000d3;
  margin-top: 1%;
  width: 67%;
  height: 665px;
}

aside {
  margin-left:1%;
  margin-top:1%;
  border: 1px solid #ffffff;
  float: left;
  width: 30%;
}
